<div fxLayout="column"  fxLayoutAlign="space-between  center" style="margin-top: 30px" >
    <form class="my-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="space-around center" >
        <h3> {{'resetPwd.title' | translate}}</h3>

        <mat-form-field >
            <mat-label> {{'register.pwd' | translate}}</mat-label>
            <input matInput placeholder="Password" name="password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="resetForm.get('password').hasError('required')">
                {{'register.errerPwd' | translate}}
            </mat-error>
            <mat-error *ngIf="resetForm.get('password').hasError('pattern')">
                {{'register.errerPwdPattern' | translate}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label> {{'register.pwdConf' | translate}}</mat-label>
            <input matInput placeholder="Password confirmation" name="passwordConfirmation"
                   formControlName="passwordConfirmation"  [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="resetForm.get('passwordConfirmation').hasError('required')">
                {{'register.errerConfPwd' | translate}}
            </mat-error>
            <mat-error *ngIf="resetForm.get('passwordConfirmation').hasError('notSame')">
                {{'register.errerPwdConf' | translate}}
            </mat-error>
        </mat-form-field>
        <div>
            <button mat-button  aria-label="reset pwd"  [disabled]="loading">{{ 'resetPwd.update' | translate}}</button>
        </div>
    </form>

</div>

