<!-- Footer -->
<footer
	class="page-footer font-small stylish-color-dark pt-4"
	style="
		height: 100%;
		width: 100%;
		background-size: auto;
		background: url(assets/images/footer2000px.png) no-repeat center;
		background-color: black;
	"
>
	<!-- Footer Links -->
	<div class="container text-center text-md-left">
		<!-- Grid row -->
		<div class="row">
			<a mat-list-item routerLink="/" routerLinkActive="active">
				<img class="logo" src="assets/images/logobalck.png" alt="logo blanc" />
			</a>
			<!-- Grid column -->
			<div class="col-md-4 mx-auto">
				<!-- Content -->
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Qui sommes-nous ?</h5>
				<p>
					FatBoar est le plus grand spécialiste des burgers sauvages de France. Que ce soit seul ou entre amis, sur
					place ou à emporter, FatBoar s’efforce de vous proposer une multitude de burgers avec des produits nobles et
					de saison, n’utilisant que des viandes de gibiers, des fromages fermiers et des bières artisanales.
				</p>
			</div>
			<!-- Grid column -->

			<hr class="clearfix w-100 d-md-none" />

			<!-- Grid column -->
			<div class="col-md-3 mx-auto">
				<!-- Links -->
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Liens rapides</h5>

				<ul class="list-unstyled">
					<li>
						<a routerLink="rg" routerLinkActive="active">Règlement du jeu concours</a>
					</li>
					<li>
						<a routerLink="legal" routerLinkActive="active">Mentions Légales</a>
					</li>
					<li>
						<a routerLink="confidentialite" routerLinkActive="active">Politique de confidentialité</a>
					</li>
					<li>
						<a rel="nofollow" href="https://www.mangerbouger.fr/">Mangerbouger.fr</a>
					</li>
				</ul>
			</div>

			<hr class="clearfix w-100 d-md-none" />

			<!-- Grid column -->
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
				<!-- Links -->
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>
				<p><mdb-icon fas icon="home" class="mr-3"></mdb-icon> 1 bis rue Gustave Eiffel 78280</p>
				<p><mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> contact@fatbor.fr</p>
				<p><mdb-icon fas icon="phone" class="mr-3"></mdb-icon>+33685994170</p>
			</div>
			<!-- Grid column -->
		</div>
		<!-- Grid row -->
	</div>
	<!-- Footer Links -->
	<hr />
	<!-- Social buttons -->
	<ul class="list-unstyled list-inline text-center">
		<li class="list-inline-item">
			<a
				mdbBtn
				floating="true"
				color="tw"
				class="mx-1"
				mdbWavesEffect
				rel="nofollow"
				href="https://twitter.com/Fatboar4"
			>
				<img class="icon" src="assets/icons/1.11.png" alt="twitter" />
			</a>
		</li>

		<li class="list-inline-item">
			<a
				mdbBtn
				floating="true"
				color="dribbble"
				class="mx-1"
				rel="nofollow"
				href="https://www.facebook.com/Fatboar-101071428717999"
				mdbWavesEffect
			>
				<img class="iconFacebook" src="assets/icons/1.9.png" alt="facebook" />
			</a>
		</li>
	</ul>
	<!-- Social buttons -->

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">
		© 2021 Copyright:
		<a rel="nofollow"> FuriousDucks</a>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->
<!---
<div class="root" fxLayout="row" fxLayoutAlign="space-between stretch" >


    <div fxLayout="column" fxLayoutAlign="space-around center" >
        <div fxLayout="column" fxLayoutAlign="space-around center" class="direction" >
            <div fxLayout="row" fxLayoutAlign="center center" >
                <a mat-icon-button rel="nofollow" href="https://www.digitalschool.paris/" >
                <mat-icon [ngStyle]="{'color':'white'}">room</mat-icon>
                </a>
                <span style="margin-left: 10px">1 bis rue Gustave Eiffel</span>
            </div>
            <div style="margin-left: 14px">
                <span>78280 Guyancourt</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" style="margin-right: 30px" >
                <mat-icon [ngStyle]="{'color':'white'}">mail</mat-icon>
                <span style="margin-left: 14px">contact@fatbor.fr</span>
            </div>

        </div>

    </div>


</div>
-->
