<div fxLayout="column" fxLayoutAlign="space-between  center" style="width: 100%">
	<div *ngIf="user$ | async as user; else loading" fxLayout="column" fxLayoutAlign="space-between stretch">
		<app-user-info *ngIf="!update"></app-user-info>
		<app-update-profil *ngIf="update" (back)="navigate()"></app-update-profil>
		<div [fxLayout]="direction" [fxLayoutAlign]="align" style="margin-top: 20px; margin-bottom: 20px">
			<button
				mat-raised-button
				class="button"
				color="primary"
				aria-label="show update"
				*ngIf="showUpdate()"
				(click)="updateAccount()"
			>
				{{ "account.btnUpdate" | translate }}
			</button>
			<button
				mat-raised-button
				class="button"
				color="warn"
				*ngIf="showUpdate()"
				aria-label="show delete"
				(click)="deleteAccount()"
			>
				{{ "account.btnDelete" | translate }}
			</button>
		</div>
	</div>
</div>

<ng-template #loading>
	<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 20px">
		<mat-spinner diameter="10"></mat-spinner>
	</div>
</ng-template>
