<div fxLayout="row"  fxLayoutAlign="space-between  center" style="margin-top: 30px" >
    <div (click)="goBack()">  <mat-icon>keyboard_arrow_left</mat-icon></div>
    <div style="margin-left: 15px" fxLayoutAlign="space-between  center">
        <form [formGroup]="requestForm" >
            <div class="container">
                <h3>{{'resetPwd.requestTitle' | translate}}</h3>
            </div>
            <div fxLayout="column" fxLayoutAlign=" center" class="input">
                <div >
                    <mat-form-field appearance="fill">
                        <mat-label>{{ 'resetPwd.labelEmail' | translate }}</mat-label>
                        <input matInput formControlName="email"  type="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required >
                        <mat-error *ngIf="f.email.errors?.required">{{ 'resetPwd.errerEmail' | translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div  >
                    <button mat-button [disabled]="loading"  (click)="onSubmit()"> {{'resetPwd.send' | translate}}</button>
                </div>
            </div>

        </form>

    </div>

</div>
